<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: skyblue; font-family: verdana; color:#fff; padding: 30px;}
      h1{font-size: 48px; text-trasnfomr: uppercase; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
    <h1>I learned <%= data.skill %> </h1>
    <p>Thanks for teaching me!</p>
    <p><strong>Time: </strong><%= data.date %></p>
  </body>
</html>
